.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1
;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 340px;
    left: 120px;
    z-index: 2
    


  }
  
  .baloon {
    position: absolute;
    left: 250px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    top: 120px;
    left: 270px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 3;
    top: 250px;
    left: 550px;
   
   
0px

  }